

extends ./layouts/common
block content
	.container.mt-5
		if errors
			each error in errors
				.alert.alert-danger= error
		form#formAddData(method="POST")
			.form-group
				div
					label(for="file") Import file
				input#file(type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .xlsx, .xls, .csv, .ods" name="file")
			button.btn.btn-primary Submit

	.container.mt-5
		#loading

	script(src="/js/isAuth.js")
	script(src="/js/import.js")