extends ./layouts/common
block content
	.container.mt-5
		form#formGetData
			.form-group.mt-2
				label(for="hp") Nhóm
				select#hp.form-control(name="hp")
					each hp in hps
						option(value=hp)= hp
				.form-group.mt-2
					label(for="mssv") Mã số sinh viên
					input#mssv.form-control(type="text" name="mssv" placeholder="Ma so sv")
				.form-group.mt-2
					label(for="dayOfBirth") Ngày sinh (tháng/ngày/năm)
					input#dayOfBirth.form-control(type="date" name="dayOfBirth")
			button.btn.btn-primary Submit

	.container.mt-5
		#results